@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap'); /*Font: logo*/
:root{
    --main: #4FE1C4;
    --main-dark: #08A888;
    --bg-color: #171717;
    --contrast: #ED944D;
    --font: "Gill Sans", sans-serif;
}


html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -50;
    overflow: hidden;
}
body{
    display: grid;
    grid-template-columns: max(12.5%, 100px) auto; 
    
}

/*---------------------------------------------------------------------*/
/*----------------------------- LEFT MENU -----------------------------*/
/*---------------------------------------------------------------------*/
nav{    
    display: grid;
    grid-template-rows: 25% 50% 25%;
    background-color: black;    
}
/*----------------------------- LOGO SECTION --------------------*/
#logo{
    width: 100%;    
}
#logo-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#logo-main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#logo-main-container p{
    margin: 0;
    width: fit-content;
    /*Font*/
    font-size: 4vmax;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 4.5px 4.5px var(--main-dark);  
    -webkit-text-stroke: 1px var(--bg-color); 
}
#logo-main{
    font-size: 6vmax;
}
#logo-main-container p:hover{
    animation-name: logoAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}
/*Logo animation*/
@keyframes logoAnimation {
    0% { 
        transform: rotate(0deg);
        letter-spacing: normal;
        text-shadow: 4.5px 4.5px var(--main);
    }    
    33% { 
        transform: rotate(-5deg);
        letter-spacing: 0.1vmax;
        text-shadow: 6px 6px var(--main);
    }
    66% { 
        transform: rotate(5deg);
        letter-spacing: 0.1vmax;
        text-shadow: 6px 6px var(--contrast);
    }
    100% { 
        transform: rotate(0deg);
        letter-spacing: normal;
        text-shadow: 4.5px 4.5px var(--contrast);
    }
}

#logo-text{
    margin: 0;
    font-family: fantasy;
    font-size: 1.25vmax;
    font-weight: 100;   
    color: white;
}
/*-----------------------------------------------------------------*/
/*----------------------------- BUTTON SECTION --------------------*/

#buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.menu-button{
    width: 98%;
    height: max-content;
    padding: 8.5% 5%;
    font-family: var(--font);
    font-size: 1.5vmax;
    font-weight: 800;
    cursor: pointer;
    box-shadow: inset 6px 1px 0px var(--main-dark);
    color: white;
    /*Prepare background color transition on mouse hover*/
    background: linear-gradient(135deg,  white 45%, transparent 5%) right,
                linear-gradient(135deg, var(--bg-color) 45%, transparent 5%);
    background-size: 250%;
    transition: .5s ease-out;
}

.menu-button:hover{
    background-position: left; /*Executes background color transition*/
    box-shadow: inset 6px 1px 0px var(--contrast);
    color: var(--contrast);
}

/*-----------------------------------------------------------------*/
/*------------------------ FOOTER SECTION -----------------------------*/
/* Icons source: https://icons8.com */
footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.social-media{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    height: 35%;
    cursor: pointer;
}
.linkedin{
    content: url('../main/pictures/linkedin.svg');    
}
.linkedin:hover{
    content: url('../main/pictures/linkedin-hover.svg');
}
.github{
    content: url('../main/pictures/github.svg');
}
.github:hover{
    content: url('../main/pictures/github-hover.svg');
}
/*---------------------------------------------------------------------*/

/*---------------------------------------------------------------------*/
/*----------------------------- MAIN CONTENT -----------------------------*/
/*---------------------------------------------------------------------*/
#page-content{
    width: 100%;    
    background-color: var(--bg-color);
    color: white;  
    z-index: -20;      
    overflow: auto;
}
main{
    width: 90%;
    margin: auto;    
    /*Position and display*/
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;       
}

/*-------------------------- HEADER SECTION ---------------------------*/
header{
    width: 90%;
    height: fit-content;
    position: relative;
    display: flex;    
    flex-direction: column;
    margin: auto;
    padding: 1% 0;
}
#main-title{    
    position: relative;    
    font-size: calc(0.5rem + 3vw);
    font-family: var(--font);
    font-weight: 800;  
    text-shadow: 2px 2px var(--main-dark);  
    -webkit-text-stroke: 1px var(--bg-color);   
}
#text-content{
    position: relative;    
    font-size: calc(0.5rem + 0.75vw);
    font-family: var(--font);
    font-weight: 200;    
}

/*---------------------------------------------------------------------*/
/*-----------------------PROJECT MINIATURE ELEMENTS -------------------*/
.miniature{
    position: relative;
    width: 22.5%;
    min-width: 250px;
    min-height: 250px;
    border: 3px var(--bg-color) solid;
    color: black;
    cursor: pointer;    
}
.miniature:hover{
    border: 3px var(--contrast) solid;
}
.miniature-title-container{
    /*Position*/
    position: absolute;
    width: auto;    
    text-align: center;
    left: 50%;
    top: 50%;   
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 2%;
    /*Backgroun box*/
    background-color: black;
    border-radius: 10px;
    color: white;    
    box-shadow: 0px 3.5px var(--main-dark),
                0px -3.5px var(--main-dark);  
    -webkit-box-stroke: 1px var(--bg-color);   
}
.miniature-title{    
    z-index: -1;
    /*Font*/
    font-size: 2rem;
    font-weight: lighter;
    font-family: fantasy;    
}
.miniature-summary-container{
    /*Position*/
    position: absolute;    
    left: 50%;
    top: 50%;   
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 4%;
    height: auto;
    text-align: justify;
    text-justify: inter-word;
    width: 50%;
    /*Backgroun box*/
    background-color: black;
    border-radius: 10px;
    color: white;    
    box-shadow: 0px 3.5px var(--contrast),
                0px -3.5px var(--contrast);  
    -webkit-box-stroke: 1px var(--bg-color);   
}
.miniature-summary{    
    position: relative;
    z-index: -1;
    font-size: 1.25vmax;
    font-family: var(--font);
    font-weight: lighter;   
}
.miniature-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;    
    filter: grayscale(80%);
}

/*---------------------------------------------------------------------*/

/*---- PROJECT ELEMENTS ----*/
.project{
    position: relative;
    width: 100%;
    min-height: 300px;
    border: 3px black solid;
    color: black;
}
















