:root{
    --font-size-texts: calc(0.5rem + 1vmax);   
    --font-size-inputs: calc(0.5rem + 0.75vmax);   
    --height-text-input: calc(0.5rem + 1vmax);   
}
#page-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#page-main-content{
    flex-grow: 1;
    display: grid;
    grid-template-columns: clamp(150px, 30%, 400px) clamp(350px, 70%, 1000px);
}

/*------------------------ SECTION CONTENT -----------------------------*/
/*---------------------------------------------------------------------*/
section{
    position: relative;    
    height: 90%;
}
.subtitle-element{
    position: relative;
    font-size: calc(var(--font-size-texts)*1.6);    
    font-family: var(--logo-text-font);
    color: white;
    display: flex;
    justify-content: center;
}
#contact-networks{
    position: relative;    
    font-family: var(--font);      
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    margin: auto;
}
.contact-img{
    position: relative;
    padding: 3% 0;
    height: clamp(60px, 100px, 5vh);  
    min-width: 60px;
    min-height: 60px;    
}
.clickable{
    cursor: pointer;
}
#location-img{
    content: url('pictures/location.svg');     
}
#github-img{
    content: url('pictures/github.svg');    
}
#linkedin-img{
    content: url('pictures/linkedin.svg');    
}
#location-img:hover{
    content: url('pictures/location-hover.svg');    
}
#github-img:hover{
    content: url('pictures/github-hover.svg');    
}
#linkedin-img:hover{
    content: url('pictures/linkedin-hover.svg');    
}
.contact-img-subtext-title{    
    font-size: var(--font-size-texts);  
}
.contact-img-subtext-text{    
    font-size: var(--font-size-inputs);  
}

/*---------------------------------------------------------------------*/
/*------------------------ FORM ELEMENTS ------------------------------*/
main{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
form{
    position: relative;
    font-family: var(--font);
    font-size: var(--font-size-inputs);   
    padding: 5% 5% 1% 5%;
    width: 75%;
    height: fit-content;
    /*Main styles*/ 
    background-color: black;
    box-shadow: 0 5px 8px var(--main-dark); /*change colour on click on input elements, controlled by TS*/
    border-radius: 15px;
    margin: auto;
}
.text-field, .textarea-field{
    border: rgb(43, 42, 42) 2px solid;
    border-radius: 10px;
    font-size: var(--font-size-inputs);   
    background-color: var(--bg-color);
    color: white;
}
/* Avoid browser autofill text changing colors*/
.text-field:-webkit-autofill,             
.text-field:-webkit-autofill:hover,             
.text-field:-webkit-autofill:focus {
    color: white;
    background-color: var(--bg-color);
    transition: background-color 99999s, color 99999s;
}
.text-field{
    position: relative;
    padding: 0 2%;
    z-index: 2;
    width: 50%;
}
.text-field::placeholder, .textarea-field::placeholder{
    color: white;
    transition: 0.5s color;
}
.textarea-field{
    position: relative;
    padding: 0 2%;
    width: 100%;
    min-height: 35vh;
    max-height: 35vh;
    resize: none;
}
.form-error{
    display: none;
    color: var(--contrast);
    position: absolute;
    left: 56%; /*50% width input + 2% padding left + 2% padding right* + 2% extra space */
}
/* ---- Text area - label animation ----*/
.textarea-container{
    margin-top: 1%;
    display: flex;
    flex-direction: column-reverse;
}
#label-textarea{
    position: relative;
    color: black;
    font-size: calc(0.25rem + 0.8vmax); 
    left: 2%;
    transition: color 0.75s, left 0.75s;
}
.textarea-field:focus + #label-textarea{
    color: var(--contrast);
    left: 0%;
}
.textarea-field:focus{
    outline: none;
    border: 2px solid var(--contrast);
}
.textarea-field:focus::placeholder {
    color: var(--bg-color);
}
/* ---- Input - label animation ----*/
.text-field:focus::placeholder {
    color: var(--bg-color);
}
.form-element{
    position: relative;
}
.label-element, .text-field{
    height: var(--height-text-input);
}
.label-element{
    position: relative;
    left: -52%;
    cursor: text;
    z-index: 1;

}
.text-field:focus + .label-element,
.label-element:target{
    animation: label-animation forwards;
    animation-duration: 0.75s;
    animation-timing-function: ease;
}
@keyframes label-animation{
    from{
        color: var(--main);
        bottom: auto;        
        font-size: var(--font-size-inputs);   
        left: -52%;
    }
    to{
        color: var(--contrast);
        bottom: calc(var(--height-text-input) + 0.5vh);        
        font-size: calc(0.25rem + 0.8vmax); 
        left: -55%;
    }
}
.text-field:focus{
    outline: none;
    border: 2px solid var(--contrast);
}



/*--------------------Submit section--------------*/
#submit-container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    text-align: center;
}
#submit-label{
    position: relative;
    font-size: 0.85rem;
    color: transparent;
}
/* ---- Button ----*/
#submit-button{
    position: relative;
    margin: 3% auto 1% auto;
    padding: 1% 5%;
    font-size: var(--font-size-texts);      
    letter-spacing: 3px;  
    /*Color styles*/
    color: white;
    border: 2px solid var(--main-dark);
    background-color: transparent;
    border-radius: 4px;
}
#submit-button:disabled:hover{
    cursor:not-allowed;
}
#submit-button:disabled:hover+div{
    color: var(--contrast);
}
#submit-button:enabled:hover{    
    cursor: pointer;
    animation: send-hover forwards;
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
}

@keyframes send-hover{
    from {
        background-color: transparent;
        box-shadow: none;
        color: white;
        border-radius: 4px;
        border-color: var(--main-dark);
    }
    to {
        background-color: white;
        box-shadow: 0 0 5px var(--contrast),
                    0 0 20px var(--contrast),
                    0 0 40px var(--contrast),
                    0 0 60px var(--contrast);   
        color: var(--contrast); 
        border-radius: 10px;
        border-color: transparent;
    }
}

/*---------------------------------------------------------------------*/
/*-------------------- SENT FORM MESSAGES --------------------------*/
#sent-form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    height: 100%;
    position: relative;
}
.sent-form-element{
    height: clamp(90px,150px, 220px);
    position: relative;
    top: 25%;
    
    font-family: var(--font);
    font-size: var(--font-size-inputs);   
}
.mail-sent-text{
    margin: 1% 0;
}

/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/

/*--------------------- RESPONSIVE DESIGNS BREAKPOINTS ----------------*/
@media all and (max-width: 950px) {
    #sent-form-container{
        flex-direction: column-reverse;    
    }
    #sent-form-container .sent-form-element{
        height: unset;
        top: unset;        
    }
    .sent-form-element img{
        position: relative;
        height: 75%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media all and (max-width: 768px) {
    #page-main-content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    section{
        height: fit-content;
    }
    .subtitle-element{
        margin: 5%;
    }
    #contact-networks{
        flex-direction: row;
    }
    .contact{
        margin: 0;
    }
    main{
        display: block;
    }
    form{
        margin-bottom: 5%;
    }
    #sent-form-container{
        flex-direction: row;    
        justify-content: center;
    }
    .sent-form-element{
        height: unset;
    }
    .sent-form-element img {
        position: relative;
        height: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}