@import url('https://fonts.googleapis.com/css?family=Monoton');
:root{
    --main: #4FE1C4;
    --main-dark: #08A888;
    --bg-color: black;
    --contrast: orange;
    --font: "Gill Sans", sans-serif;
}
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
/*----------------------------- BUTTON SECTION --------------------*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: var(--bg-color);
}
.menu-button{
    width: 20%;
    background-color: var(--main);
    color: var(--bg-color);
    font-family: var(--font);
    font-size: 1.5vmax;
    font-weight: 500;
    border: var(--bg-color) solid 3px;
    border-radius: 5px;    
}
.menu-button:hover{
    background-color: var(--contrast);
    transform: scale(1.1)
}


/*-----------------------------------------------------------------*/
/*----------------------------- HEADER SECTION --------------------*/
header{
    width: 100%;
    height: fit-content;
    background-color: var(--bg-color);
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}
#header-text-container, canvas{
    grid-row-start: 1;
    grid-column-start: 1;
}
#header-text-container{
    width: fit-content;
    position: relative;
    margin: 5%;
}
/*Main title element*/
#page-title{
    /*Positioning and others*/
    padding: 4%;
    user-select: none;
    border-top: 5px solid currentColor;
    border-bottom: 5px solid currentColor;
    border-radius: 2.5px;    
    /*Font*/
    color: white;
    font-size: 4vmax;
    font-family: var(--font);
    font-weight: 800;    
}
.border-shadow{
    height: 5px;
    background-color: var(--main);
    width: 100%;
    margin-left: 5%;
    border-radius: 10px;
}
.top{
    position: absolute;
    margin-top: calc(5px + 1.5%);
}
.bottom{
    margin-top: 1.5%;
}
/*Main title element: sentence row*/
.title-row{
    display: flex;
    flex-direction: row;
    height: 6vmax;
    width: 35vmax;
}
/*Main title element: capital letters*/
.main-letter{
    font-family: "Monoton", Helvetica, sans-serif;
    font-weight: 400;   
}
@supports (-webkit-background-clip: text) {
	.main-letter {  
		color: transparent;
		background: linear-gradient(-45deg, var(--main) 50%, var(--main-dark) 0);
		-webkit-background-clip: text;
        background-clip: text;
	}
}
@supports (-webkit-background-clip: text) {
	.main-letter:hover {  
		color: transparent;
		background: linear-gradient(-45deg, var(--contrast) 50%, red 0);
        font-size: 4.25vmax;
		-webkit-background-clip: text;
        background-clip: text;
	}
}

.letter:hover{
    color: var(--contrast);
    font-size: 4.25vmax;
}

/*Subtitle element*/
#page-subtitle{
    color: white;
    font-size: 1.5vmax;
    font-family: "Gill Sans", sans-serif;
    font-weight: 200;
    margin: 0;
    position: relative;
}

/*--- CANVAS ---*/
canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.letter, .main-letter, #page-subtitle{
    z-index: 2;
}

/*---------------------------------------------------------------------*/
















