@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
:root{
    --main: #4FE1C4;
    --main-dark: #08A888;
    --bg-color: #171717;
    --contrast: #ED944D;
    --font: "Gill Sans", sans-serif;
}
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
main{
    display: grid;
    grid-template-columns: 12.5% 87.5%;
    height: 100%;
    width: 100%;
}
nav{
    display: grid;
    grid-template-rows: 25% 50% 25%;
    background-color: black;
}
/*----------------------------- LOGO SECTION --------------------*/
#logo{
    display: grid;
    grid-template-rows: auto auto;    
    width: 100%;
    height: 100%;
}
#logo-main{
    display: flex;
    text-align: center;
    justify-self: center;
    /*Font*/
    font-size: 6rem;
    margin: auto;
    color: transparent;
    -webkit-text-stroke: 3px white;
    text-shadow: 4.5px 4.5px var(--main);
    font-family: 'Raleway', sans-serif;
}
#logo-main:hover{
    text-shadow: 4.5px 4.5px var(--contrast);
}     
#logo-text{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: -10%;
    /*Font*/
    font-family: fantasy;
    font-size: 1.25rem;
    font-weight: 100;   
    color: white;
}
/*-----------------------------------------------------------------*/
/*----------------------------- BUTTON SECTION --------------------*/

#buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.menu-button{
    width: 98%;
    height: max-content;
    padding: 7.5% 5%;
    font-family: var(--font);
    font-size: 1.5vmax;
    font-weight: 800;
    cursor: pointer;
    box-shadow: inset 6px 1px 0px var(--main-dark);
    background: linear-gradient(135deg, var(--bg-color) 95%, transparent 5%);
    color: white;
}
.menu-button:hover{
    background: linear-gradient(135deg, white 95%, transparent 5%);
    box-shadow: inset 6px 1px 0px var(--contrast);
    color: var(--contrast);
}


/*-----------------------------------------------------------------*/
/*----------------------------- HEADER SECTION --------------------*/
header{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}
#header-text-container, canvas{
    grid-row-start: 1;
    grid-column-start: 1;
}
#header-text-container{
    position: relative;
    margin: 7.5%;
}
/*Main title element*/
#page-title{
    /*Positioning and others*/
    user-select: none;
    border-top: 5px solid currentColor;
    border-bottom: 5px solid currentColor;
    border-radius: 2.5px;
    width: fit-content;    
    position: relative;
    /*Font*/
    color: white;
    font-size: 4.25vmax;
    font-family: var(--font);
    font-weight: 800;    
}
#title-section{
    padding: 4%;
}
.border-shadow{
    height: 5px;
    background-color: var(--main);
    width: 100%;
    margin-left: 5%;
    border-radius: 10px;
}
.top{
    margin-top: 5%;
}
.bottom{
    position: absolute;
    margin-top: calc(5% + 5px);
}
/*Main title element: sentence row*/
.title-row{
    display: flex;
    flex-direction: row;
    height: 5vmax;
    width: 40vmax;
}
/*Main title element: capital letters*/
.main-letter{
    font-family: "Monoton", Helvetica, sans-serif;
    font-weight: 400;   
}
@supports (-webkit-background-clip: text) {
	.main-letter {  
		color: transparent;
		background: linear-gradient(-45deg, var(--main) 50%, var(--main-dark) 0);
		-webkit-background-clip: text;
        background-clip: text;
	}
}
@supports (-webkit-background-clip: text) {
	.main-letter:hover {  
		color: transparent;
		background: linear-gradient(-45deg, var(--contrast) 50%, red 0);
        font-size: 4.4vmax;
		-webkit-background-clip: text;
        background-clip: text;
	}
}

.letter:hover{
    color: var(--contrast);
    font-size: 4.4vmax;
}

/*Subtitle element*/
#page-subtitle{
    color: white;
    font-size: 1.5vmax;
    font-family: "Gill Sans", sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0% 4% 4% 4%;
    position: relative;
}

/*--- CANVAS ---*/
canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.letter, .main-letter, #page-subtitle{
    z-index: 2;
}

/*---------------------------------------------------------------------*/
/*------------------------ FOOTER SECTION -----------------------------*/
/* Icons source: https://icons8.com */
footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.social-media{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    height: 35%;
    cursor: pointer;
}
.linkedin{
    content: url('pictures/linkedin.svg');
}
.linkedin:hover{
    content: url('pictures/linkedin-hover.svg');
}
.github{
    content: url('pictures/github.svg');
}
.github:hover{
    content: url('pictures/github-hover.svg');
}
/*---------------------------------------------------------------------*/















