/*
        MAIN LAYOUT:
            - SIDE MENU IN LEFT SIDE + RESPONSIVE DESIGN (to top side in small devices)
            - PAGE-CONTENT <DIV> AND MAIN-TITLE ELEMENTS STYLE
            - MAIN COLORS APPLIED
            - BODY GRID LAYOUT
        * Not used by index.html
*/

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -50;    
    background-color: var(--bg-color);
}
body{
    display: grid;
    grid-template-columns: max(12.5%, 100px) auto;     
}

a {
    color: var(--main);
}
a:hover{
    color: var(--contrast);
}
/*---------------------------------------------------------------------*/
/*----------------------------- LEFT MENU -----------------------------*/
/*---------------------------------------------------------------------*/
nav{    
    display: grid;
    grid-template-rows: 25% 50% 25%;
    background-color: black;    
}
/*----------------------------- LOGO SECTION --------------------*/
#logo{
    width: 100%;    
    /*Do not allow text selection*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
#logo-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#logo-main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#logo-main-container p{
    margin: 0;
    width: fit-content;
    /*Font*/
    font-size: 4vmax;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 4.5px 4.5px var(--main-dark);  
    -webkit-text-stroke: 1px var(--bg-color);    
}
#logo-main{
    font-size: 6vmax;
}
#logo-main-container p:hover{
    animation-name: logoAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}
/*Logo animation*/
@keyframes logoAnimation {
    0% { 
        transform: rotate(0deg);
        letter-spacing: normal;
        text-shadow: 4.5px 4.5px var(--main);
    }    
    33% { 
        transform: rotate(-5deg);
        letter-spacing: 0.1vmax;
        text-shadow: 6px 6px var(--main);
    }
    66% { 
        transform: rotate(5deg);
        letter-spacing: 0.1vmax;
        text-shadow: 6px 6px var(--contrast);
    }
    100% { 
        transform: rotate(0deg);
        letter-spacing: normal;
        text-shadow: 4.5px 4.5px var(--contrast);
    }
}

#logo-text{
    margin: 0;
    font-family: var(--logo-text-font);
    font-size: 1.25vmax;
    font-weight: 100;   
    color: white;
}
/*-----------------------------------------------------------------*/
/*----------------------------- BUTTON SECTION --------------------*/

#buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.menu-button{
    width: 98%;
    height: max-content;
    padding: 8.5% 5%;
    font-family: var(--font);
    font-size: 1.5vmax;
    font-weight: 800;
    cursor: pointer;
    box-shadow: inset 6px 1px 0px var(--main-dark);
    color: white;
    border: 0px;
    margin:  0.5% 0;
    /*Prepare background color transition on mouse hover*/
    background: linear-gradient(135deg,  white 45%, transparent 5%) right,
                linear-gradient(135deg, var(--bg-color) 45%, transparent 5%);
    background-size: 250%;
    transition: .5s ease-out;
}

.menu-button:hover{
    background-position: left; /*Executes background color transition*/
    box-shadow: inset 6px 1px 0px var(--contrast);
    color: var(--contrast);
}

/*-----------------------------------------------------------------*/
/*------------------------ FOOTER SECTION -----------------------------*/
/* Icons source: https://icons8.com */
footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.social-media{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    height: 35%;
    cursor: pointer;
}
.linkedin{
    content: url('../main/pictures/linkedin.svg');    
}
.linkedin:hover{
    content: url('../main/pictures/linkedin-hover.svg');
}
.github{
    content: url('../main/pictures/github.svg');
}
.github:hover{
    content: url('../main/pictures/github-hover.svg');
}
/*---------------------------------------------------------------------*/

/*---------------------------------------------------------------------*/
/*----------------------------- MAIN CONTENT -----------------------------*/
/*---------------------------------------------------------------------*/
#page-content{
    position: relative;
    width: 100%;        
    color: white;      
    overflow: auto;
}
main{
    width: 90%;
    margin: auto;    
    /*Position and display*/
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;       
}

/*-------------------------- HEADER SECTION ---------------------------*/
header{
    width: 90%;
    height: fit-content;
    position: relative;
    display: flex;    
    flex-direction: column;
    margin: auto;
    padding: 1% 0;
}
#main-title{    
    position: relative;    
    width: 90%;
    padding: 0 2.5%;     
    font-size: calc(1.5rem + 3vmax);
    font-family: var(--logo-text-font);
    font-weight: lighter; 
    -webkit-text-stroke: 1px 1px black;      
    /*Do not allow text selection*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.main-title-element{
    font-size: calc(1rem + 2vmax);
    text-shadow: 4.5px 4.5px var(--main-dark);  
}
/*---------------------------------------------------------------------*/



/* -------------------------------------------------------------------------------- */
/* --------------------------------- SCROLL BAR ----------------------------------- */
::-webkit-scrollbar {
    width: 1vw;
}
/* scrollbar */
::-webkit-scrollbar-thumb {
    background: var(--main); 
    border-radius: 5px;
}  
::-webkit-scrollbar-thumb:hover {
    background: var(--contrast); 
}


/* -------------------------------------------------------------------------------- */
/*------------------  RESPONSIVE DESIGN BREAKPOINTS --------------------*/
/*Better visualization of main 2 elements: side menu and project contents. Used for smaller sizes, but not yet phone size */
@media all and (max-width: 950px) {
    body{
        grid-template-columns: max(20%, 150px) auto;     
    }
    .menu-button{
        padding: 10% 5%;
        font-size: 2vmax;
    }
    #main-title{    
        font-weight: normal;     
        -webkit-text-stroke: 0.5px var(--bg-color);   
    }
}

/*Small devices*/
@media all and (max-width:768px) {
    body{
        display: block;  
    }
    #page-content{
        padding: 5% 0;
    }
    nav{
        height: fit-content;
        grid-template-rows: 100%;
        grid-template-columns: 20% 80%;
        padding: 2% 0;
    }
    footer{
        display: none;
    }
    #buttons{
        flex-direction: row;
        justify-content: center;
        text-align: center;        
    }
    .menu-button{
        width: 25%;
        height: fit-content;
        padding: 3.5% 0;
        font-size: calc(0.5rem + 1.25vmax);
        margin:  auto 0.5%;
        box-shadow: inset 0px 3px 0px var(--main-dark);        
    }
    .menu-button:hover{
        box-shadow: inset 0px 3px 0px var(--contrast);
    }
    .social-media{
        width: 70%;
        height: 70%;
    }
    #logo-main-container p {
        font-size: 5vmax;
    }
    #logo-main{
        font-size: 7vmax;
    }
    #logo-text{
        display: none;
    }
    
}










