:root{
    --font-size-texts: calc(0.5rem + 1vmax);   
    --font-size-inputs: calc(0.5rem + 0.75vmax);   
    --height-text-input: calc(0.5rem + 1vmax);   
}

/*------------------------ HEADER CONTENT -----------------------------*/
/*---------------------------------------------------------------------*/

.subtitle-text{
    position: relative;    
    font-size: var(--font-size-texts);
    font-family: var(--font);
}

/*---------------------------------------------------------------------*/
/*------------------------ FORM ELEMENTS ------------------------------*/
main{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}
form{
    margin: 5vh auto;
    font-family: var(--font);
    font-size: var(--font-size-inputs);   
    padding: 2% 5% 1% 5%;
    width: 50%;
    /*Main styles*/ 
    background-color: black;
    box-shadow: 0 10px 20px var(--main-dark); /*change colour on click on input elements, controlled by TS*/
    border-radius: 15px;
}
.text-field, .textarea-field{
    border-radius: 10px;
    font-size: var(--font-size-inputs);   
}
.text-field{
    width: 50%;
}
.textarea-field{
    color: black;
    width: 100%;
    min-height: 20vh;
    resize: none;
}

.textarea-field:focus{
    outline: none;
    border: 2px solid var(--contrast);
}
/* ---- Input - label animation ----*/
.label-element, .text-field{
    height: var(--height-text-input);
}
.label-element{
    position: relative;
    left: -50%;
    color: black;
}
.text-field:focus + .label-element,
.label-element:target{
    animation: label-animation forwards;
    animation-duration: 0.75s;
    animation-timing-function: ease;
}
@keyframes label-animation{
    from{
        color: black;
        bottom: auto;        
        font-size: var(--font-size-inputs);   
        left: -50%;
    }
    to{
        color: var(--contrast);
        bottom: calc(var(--height-text-input) + 0.5vh);        
        font-size: calc(0.25rem + 0.8vmax); 
        left: -52%;
    }
}
.text-field:focus{
    outline: none;
    border: 2px solid var(--contrast);
}

/* ---- Button ----*/
#submit-button{
    position: relative;
    margin: 3% auto 1% auto;
    padding: 1% 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: var(--font-size-texts);      
    letter-spacing: 3px;  
    /*Color styles*/
    color: white;
    border: 2px solid var(--main-dark);
    background-color: transparent;
    border-radius: 4px;
}
#submit-button:hover{    
    cursor: pointer;
    animation: send-hover forwards;
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
}
@keyframes send-hover{
    from {
        background-color: transparent;
        box-shadow: none;
        color: white;
        border-radius: 4px;
        border-color: var(--main-dark);
    }
    to {
        background-color: white;
        box-shadow: 0 0 5px var(--contrast),
                    0 0 20px var(--contrast),
                    0 0 40px var(--contrast),
                    0 0 60px var(--contrast);   
        color: var(--contrast); 
        border-radius: 10px;
        border-color: transparent;
    }
}

/*---------------------------------------------------------------------*/
